@charset "utf-8";
/*CSS Document*/
body{
  background-color: #f6f5f5;
  margin: 0px;
  padding: 0px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
section{
  width: 100%;
  height: 115vh;
  background-color:orange;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  padding: 0px 5%;
}
nav ul{
  display: flex;
}
nav ul li a{
  margin: 30px;
  font-family: myraid pro regular;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
}
.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 350px;
    background: purple;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 20px 100px rgba(0,0,0,.5);
}
.circle:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px dotted #fff;
    box-sizing: border-box;
    border-radius: 50%;
    transform: scale(1.0);
    animation: rotate 30s linear infinite;
}
.light {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
    height: 90px;
    background: brown;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 25px rgba(0,0,0,.5);
}
.light:before {
    content: '';
    position: absolute;
    top: -80px;
    left: 75px;
    width: 30px;
    height: 70px;
    background: #ff0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transform-origen: bottom right;
    filter: blur(2px);
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(30deg);
        box-shadow: 0 0 30px #ff0;
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}
@keyframes rotate {
    0% {
        transform: scale(1.1) rotate(0deg);
    }
    100% {
        transform: scale(1.1) rotate(360deg);
    }
}
h1 {
    font-family: cursive;
    margin: 40px 0 0;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 60px;
    text-shadow: 0px 15px 5px rgba(0,0,0,.2);
    animation: sec 2s infinite;
}
h1 span {
    font-size: 70px;
    font-family: 'Kaushan Script', cursive;
    animation: sec 2s infinite;
}
@keyframes sec {
   0%{
      color: coral;
     }    
  10%{
     color: magenta;
     }    
  20%{
     color: red;
     letter-spacing: 3px;
     }
  40%{
     color: gold;
     }
  60%{
     color: lime;
     }
  85%{
     letter-spacing: 5px;
     }
 100%{
     color: marine;
     }
 100%{
     color: tomato;
     }
}
.logo{
  font-family: RoadTest;
  color: #000000;
  font-size: 22px;
}
.active{
  font-weight: bold;
  color: #661111;
}
.text-container p{
  font-size: 35px;
  line-height: 0px;
  margin: 45px 0px 25px;
}
.text-container{
  position: absolute;
  left: 30%;
  top: 40%;
  transform: translate(-13,-42%);
}
footer{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer p{
  font-family: calibri;
}
footer p:nth-child(1){
  font-size: 30px;
  font-weight: bold;
  color: #191919;
  line-height: 10px;
}
footer p:nth-child(2){
  font-size: 16px;
  color: #7e7d7d;
  width: 600px;
  text-align: center;
}
.social-icons a{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}
.social-icons{
  display: flex;
}
.copyright{
  color: #565555;
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.social-icons i{
  color: #000000;
}
.social-icons a:hover,.a-social-b a:hover{
  background-color: #00000000;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2)
  transition: all ease 0.5s;
}
.social-icons a:hover i,.a-social-b a:hover i{
  color: #FFFFFF;
  transition: all ease 0.5s;
}
.a-social-b{
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.a-social-b a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  line-height: 0px;
  background-color: #FFFFFF;
  border: 1px solid #cbcbcb;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.a-social-b i{
  color: #2b2b2b;
  font-size: 20px;
}
